<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
    <script>
      const path = window.location.pathname;
      const queryString = window.location.search;
      const newURL = 'https://splits.org' + path + queryString;
      window.location.href = newURL;
    </script>

    {{ghost_head}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
